modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0", "resend:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 5000

[[ports]]
localPort = 8085
externalPort = 5173

[[ports]]
localPort = 8086
externalPort = 6000

[[ports]]
localPort = 19639
externalPort = 3000

[[ports]]
localPort = 19640
externalPort = 4200

[[ports]]
localPort = 19876
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_CLIENT_ID = "119890251041-tsgds8o83po7p4gaeqqfnph67e3fpt46.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_REVERSED_CLIENT_ID = "com.googleusercontent.apps.119890251041-tsgds8o83po7p4gaeqqfnph67e3fpt46"
EXPO_PUBLIC_GOOGLE_PLACES_API_KEY = "AIzaSyD43XpXH9AI8I0EwuaT_ckb2cOZb0S1M54"
GOOGLE_PLACES_API_KEY = "AIzaSyD43XpXH9AI8I0EwuaT_ckb2cOZb0S1M54"
EXPO_PUBLIC_DOMAIN = "app.butterfieldcookies.com.au"

[objectStorage]
defaultBucketID = "replit-objstore-56a86ee2-34ca-4cbf-9a68-5597e4ff6953"
